.DS_Store
.project
.settings
test/testchain/geth
test/testchain/geth.ipc
test/testchain/history
test/contracts
private
front-end/node_modules
front-end/node_modules/*
/build/
front-end/.next
front-end/.next/*
front-end/privatekey.pem
*.pem
*.pvk
